<h1>Just FYI, I'm not a lawyer.</h1>

<p>I'm just a programmer who spends far too much time on trains.</p>

<p>
  This site is to help you figure out if the penalty fare you were issued was issued correctly.<br />
  <strong>It applies solely to train services in the UK with the exception of London Underground.</strong><br />
  I've done all I can to verify the accuracy of the claims made but I make no warranty or guarantee as to the accuracy of any assertions made now or in the future.
</p>
<p>
  If you spot a mistake, let me know and I'll be happy to correct it.
</p>

<p>This site is totally free to use. If it saved you a bunch of money, <a href="https://monzo.me/maxwoolf">consider buying me a coffee.</a></p>
